<header th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="main-nav">
        <ul>
            <th:block sec:authorize="!isAuthenticated()">
                <li>
                    <a th:href="@{/}">Heim</a>
                </li>
                <li>
                    <a th:href="@{/users/login}">Login</a>
                </li>
                <li>
                    <a th:href="@{/users/register}">Registrieren</a>
                </li>
                <li>
                    <a th:href="@{/about}">Über uns</a>
                </li>
            </th:block >
            <th:block sec:authorize="isAuthenticated()">
                <li>
                    <a th:href="@{/add-route}">Neue Route hinzufügen</a>
                </li>
                <li>
                    <a th:href="@{/users/profile}">Profil</a>
                </li>
                <!-- TODO the role name is incorrect -->
                <li sec:authorize="hasRole('ADMIN')">
                <a href="/">Verwaltung</a>
                </li>
                <li>
                    <form th:method="POST"
                          th:action="@{users/logout}">
                        <button type="submit" >Ausloggen</button>
                    </form>
                </li>
            </th:block>
        </ul>
    </nav>
</header>