<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:headerth="http://www.w3.org/1999/xlink">
<head th:replace="~{fragments/head}"></head>
<body>
<!--<div class="wrapper">-->
<!-- Navigation -->
<header th:replace="~{fragments/header}"></header>

<!-- Top Container -->
<!-- enctype="multipart/form-data" SEND FILE TO SERVER
     name="gpxCoordinates"
     RouteController -> @RequestParam("gpxCoordinates") MultipartFile gpxCoordinates -->
<div class="row justify-content-center ">
    <form id="add-route-form" class="w-50 rounded text-white mt-5"
          th:object="${routeData}"
          th:action="@{/add-route}"
          th:method="POST"
          enctype="multipart/form-data">
        <h3 class="border-left border-light pl-2">Neue Route hinzufügen</h3>
        <div>
            <div class="form-group">
                <label for="inputName" class="col-form-label ">Name</label>
            </div>
            <div class="form-group">
                <input th:field="*{name}"
                       name="name"
                       required minlength="5" maxlength="20"
                       type="text"
                       id="inputName"
                       class="form-control"
                       aria-describedby="inputNameError">
                <small id="inputNameError"
                       class="invalid-feedback bg-danger rounded">
                    Der Name muss länger als 3 Zeichen sein</small>

            </div>
        </div>

        <div>
            <div class="form-group">
                <label for="inputDescription" class="col-form-label ">Beschreibung</label>
            </div>
            <div class="form-group">
                    <textarea
                            th:field="*{description}"
                            name="description"
                            required minlength="5"
                            id="inputDescription"
                            class="form-control"
                            aria-describedby="inputDescriptionError"></textarea>
                <small id="inputDescriptionError" class="invalid-feedback  form-text bg-danger rounded">
                    Die Beschreibung Länge muss mehr als 5 Zeichen betragen</small>
            </div>
        </div>

        <div>
            <div class="form-group">
                <label for="inputGpx" class="col-form-label ">GPX Koordinaten</label>
            </div>
            <div class="form-group">
                <input
                       type="file"
                       name="gpxCoordinates"
					   required
                       id="inputGpx"
                       class="form-control-file"
                       aria-describedby="inputGpxError">
                <small id="inputGpxError"
                       class="invalid-feedback  form-text bg-danger rounded">
                    Es müssen gültige GPX-Koordinaten sein</small>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label for="level">Level</label>
                <select th:field="*{level}"
                        name = "level"
                        id="level"
                        class="custom-select">
                    <option th:each="level: ${levels}"
                            th:value="${level}"
                            th:text="${level}">Stufe auswählen</option>
                </select>
            </div>
        </div>
        <div>

            <div class="form-group">
                <label for="videoUrl">Video-URL (nur die letzten elf Zeichen von YouTube)</label>
                <input th:field="*{videoUrl}"
                       id="videoUrl"
                       type="text"
                       class="form-control"
                       placeholder="Video url">
            </div>
        </div>

        <div>
            <div class="form-group p-3">
                <label class="p-2" for="categories">Kategorien:</label>
                <input th:each="category: ${categoryTypes}"
                       th:value="${category}"
                       th:text="${category}"
                       name="categories"
                       id="categories"
                       class="m-3"
                       type="checkbox">
				<br>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-primary btn-block w-50" type="submit">Route hinzufügen</button>
        </div>

    </form>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
