<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="~{fragments/header}"></header>
    <!-- Top Container -->
    <section class="top-container">
        <div class="showcase">
            <h1>Finden Sie fantastische Routen</h1>
            <p>Haben Sie es satt, zu Hause zu bleiben und sich eingeschränkt zu fühlen? Seien Sie frei! Suchen Sie sich eine Route und genießen Sie die Natur!</p>
            <a href="/routes" class="btn">Zu den Routen</a>
        </div>
        <div class="top-box top-box-a">
            <h4>Das Wetter in Sofia</h4>
            <h4><span th:text="${sofiaTemperature}" id="box-a-temp"></span><span>&#8451;</span></h4>
            <img id="box-a-img" src="/images/sun.png" height="150px" alt="">
        </div>
        <div class="top-box top-box-b">
            <h4>Das Wetter in Sozopol</h4>
            <h4><span id="box-b-temp">27</span><span>&#8451;</span></h4>
            <img id="box-b-img" src="/images/cloudy.png" height="150px" alt="">
        </div>
    </section>

    <!-- Boxes Section -->
    <section class="boxes">
        <a href="/" class="main-btn" >
            <div class="box">
                <img src="/images/pedestrian.png" height="150px" alt="">
                <h3>Fußgänger</h3>
                <p>Ist das dein Beintag?</p>
            </div>
        </a>
        <a href="/" class="main-btn" >
            <div class="box">
                <img src="/images/bicycle.png" height="150px" alt="">
                <h3>Fahrrad</h3>
                <p>Wenn Sie eins mit der Natur sein möchten!</p>
            </div>
        </a>
        <a href="/" class="main-btn" >
            <div class="box">
                <img src="/images/motorcycle.png" height="150px" alt="">
                <h3>Motorrad</h3>
                <p>Wenn Sie möchten, dass Ihnen der Wind ins Gesicht bläst!</p>
            </div>
        </a>
        <a href="/" class="main-btn" >
            <div class="box">
                <img src="/images/car.png" height="150px" alt="">
                <h3>Auto</h3>
                <p>Mit Freunden auf Reisen gehen?</p>
            </div>
        </a>
    </section>

    <!-- Info Section -->
    <section class="road">
        <img src="/images/most-commented.jpg" alt="">
        <div>
            <h2>Die am meisten kommentierte Route</h2>
            <p>Lesen Sie mehr über die am meisten kommentierte Route und verpassen Sie nicht die Chance, sie zu besuchen und Ihre Meinung abzugeben, um anderen Benutzern zu helfen..</p>
            <a href="/" class="btn">Mehr erfahren</a>
        </div>
    </section>

    <!-- Portfolio -->
    <section class="gallery">
        <img src="http://res.cloudinary.com/ch-cloud/image/upload/v1630583467/koncyanx4gqwzt9vxgx4.jpg" width="200px" height="200px" alt="">
        <img src="http://res.cloudinary.com/ch-cloud/image/upload/v1630582448/oowojgn4lagybkvv20jb.jpg" width="200px" height="200px" alt="">
    </section>

    <!-- <script th:src="@{/js/weather.js}"></script> -->
</div>
<!-- Wrapper Ends -->'

<footer th:replace="~{fragments/footer}" class="footer bg-blur rounded"></footer>
</body>

</html>
