<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header>
    <nav class="main-nav">
        <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/">Login</a>
                </li>
                <li>
                    <a href="/">Register</a>
                </li>
                <li>
                    <a href="/">About</a>
                </li>
				<li>
                    <a href="/">Add new route</a>
                </li>
                <li>
                    <a href="/">Profile</a>
                </li>
                <li>
                    <a href="/">Admin</a>
                </li>
                <li>
                    <a href="/">Logout</a>
                </li>
        </ul>
    </nav>
</header>

    <section class="road">
        <div th:each="route : ${allRoutes}"> <!-- list of routes -->
            <img th:src="${route.imageUrl}" alt="Title image">
            <div> <!-- single random route -->
                <h2 th:text="${route.name}"></h2>
                <p th:text="${route.description}"></p>
                <a href="/" class="btn">Learn More</a>
            </div>
        </div>
    </section>
</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="~{fragments/footer}"></footer>
</html>